.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    padding: 5px;
    margin: 20px;
    background: #999;
    border: 1px dashed #666;
    align-self: center;
    border-radius: 10px;
}
.li{
    height: 100%;
    width: 100%;
    /* align-self: center; */
}
@media(max-width: 600px){
    .container{
        background-color: black;
        grid-template-columns: auto;
    }
}

@media(min-width: 600px){
    .container{
        background-color: black;
        grid-template-columns: auto;
    }
}
@media(min-width: 800px){
    .container{
        background-color: yellow;
        grid-template-columns: auto auto;
    }
}
@media(min-width: 1000px){
    .container{
        background-color: purple;
        grid-template-columns: auto auto auto;
    }
}