.container {
    background-image:linear-gradient(to right, rgb(204,0,0),white 13%);
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 0, 0);
    margin : 20px 20px 20px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow:0px 10px 10px rgb(87, 85, 85);
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 575px;

}

.title {
    color: #c00;
    font-size: 2rem;
    margin: 10px, 10px, 10px, 250px;
}

.pubDate {
    font-weight: bold;
    font-size: smaller;
}

.img{
    width: 20%;
    margin: 1.66%;
    margin-bottom: 30px;
    float: left;
}

.other{
    display: inline-block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    align-self: center;
}
.button{
    float: center;
    margin-right: 0;
    align-content: stretch;
    position: absolute;
    bottom:5%;
    left: 5%;
    width: 90%;
}